doctype
html
  head
    title pew pew pew
    meta(name='viewport' content='initial-scale=1, width=device-width')
    link(href='main.css' type='text/css' rel='stylesheet')
  body
    #cache
    #app
    script(src='main.js')
