* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  overflow: hidden;
}

#app {
  position: relative;
  background: white;
  width: 100vmin;
  height: 100vmin;
  margin: auto;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}
